<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capabilities</key>
	<dict>
		<key>720p</key>
		<true/>
		<key>accelerometer</key>
		<true/>
		<key>accessibility</key>
		<true/>
		<key>additional-text-tones</key>
		<true/>
		<key>applicationInstallation</key>
		<true/>
		<key>armv6</key>
		<true/>
		<key>armv7</key>
		<true/>
		<key>bluetooth</key>
		<true/>
		<key>device-name</key>
		<string>iPad</string>
		<key>displayport</key>
		<true/>
		<key>encrypted-data-partition</key>
		<true/>
		<key>fcc-logos-via-software</key>
		<true/>
		<key>gamekit</key>
		<true/>
		<key>gas-gauge-battery</key>
		<true/>
		<key>h264-encoder</key>
		<true/>
		<key>hardware-keyboard</key>
		<true/>
		<key>hide-non-default-apps</key>
		<true/>
		<key>homescreen-wallpaper</key>
		<true/>
		<key>hw-encode-snapshots</key>
		<true/>
		<key>international-settings</key>
		<true/>
		<key>io-surface-backed-images</key>
		<true/>
		<key>ipad</key>
		<true/>
		<key>launch-mode</key>
		<string>pre-animate</string>
		<key>load-thumbnails-while-scrolling</key>
		<true/>
		<key>location-services</key>
		<true/>
		<key>magnetometer</key>
		<true/>
		<key>microphone</key>
		<true/>
		<key>multitasking</key>
		<true/>
		<key>multitasking-gestures</key>
		<true/>
		<key>opengles-1</key>
		<true/>
		<key>opengles-2</key>
		<true/>
		<key>peer-peer</key>
		<true/>
		<key>photo-stream</key>
		<true/>
		<key>ringer-switch</key>
		<true/>
		<key>software-dimming-alpha</key>
		<real>0.62</real>
		<key>stand-alone-contacts</key>
		<true/>
		<key>telephony-maximum-generation</key>
		<real>3.5</real>
		<key>tv-out-crossfade</key>
		<true/>
		<key>wifi</key>
		<true/>
	</dict>
	<key>iconState</key>
	<dict>
		<key>buttonBar</key>
		<array>
			<string>com.apple.mobilesafari</string>
			<string>com.apple.mobilemail</string>
			<string>com.apple.videos</string>
			<string>com.apple.Music</string>
		</array>
		<key>iconLists</key>
		<array>
			<array>
				<string>com.apple.MobileSMS</string>
				<string>com.apple.mobilephone</string>
				<string>com.apple.mobileslideshow</string>
				<string>com.apple.Maps</string>
				<string>com.apple.mobiletimer</string>
				<string>com.apple.mobilecal</string>
				<string>com.apple.MobileAddressBook</string>
				<string>com.apple.mobilenotes</string>
				<string>com.apple.reminders</string>
				<dict>
					<key>displayName</key>
					<string>Newsstand</string>
					<key>listType</key>
					<string>newsstand</string>
					<key>iconLists</key>
					<array>
						<array/>
					</array>
				</dict>
				<string>com.apple.MobileStore</string>
				<string>com.apple.AppStore</string>
				<string>com.apple.gamecenter</string>
				<string>com.apple.Preferences</string>
			</array>
		</array>
	</dict>
</dict>
</plist>
